{% extends 'layout.html' %}

{% block title %}
    Notifications List
{% endblock %}

{% block content %}
<section style="max-width: 100%; overflow-x: hidden;">
    <h1>Powiadomienia</h1>
    <br>
    <div style="color: #81dbb8; text-align: center; display: flex; justify-content: space-between; width: 100%; margin-left: 25px;">
        <span>L.p.</span>
        <span style="flex: 1;">
            Tytuł
        </span>
        <span style="flex: 0.3;">
            Data
        </span>
    </div>
    <br>

    {% for powiadomienie in powiadomieniaa %}
        <article class="rezerwacja" style="color: #f0e995; text-align: center; display: flex; justify-content: space-between; width: 100%; margin-left: 25px;">
            <span>{{ forloop.counter }}.</span>
            <span style="flex: 1;">
                <a href="{% url 'rental:notificationDataN' not_slug=powiadomienie.slug %}">
                            {{ powiadomienie.tytul }}
                </a>
            </span>
            <span style="flex: 0.3;"> {{ powiadomienie.data_wyslania }} </span>
        </article>
    {% endfor %}
</section>
{% endblock %}
