{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h1>O nas</h1>
    <p style="font-size: 40px;">Witaj w naszej wypożyczalni samochodów! Jesteśmy firmą, która powstała z pasji do motoryzacji i potrzeby dostarczania wygodnych, bezpiecznych i niezawodnych środków transportu.</p>
    <p style="font-size: 40px;">Oferujemy szeroki wybór pojazdów dostosowanych do Twoich potrzeb - od ekonomicznych samochodów miejskich, przez komfortowe sedany, aż po przestronne SUV-y i auta luksusowe.</p>
    <p style="font-size: 40px;">Naszym celem jest zapewnienie Ci pełnej satysfakcji z każdej podróży. Dzięki prostym procedurom wynajmu, konkurencyjnym cenom i profesjonalnej obsłudze, gwarantujemy, że znajdziesz u nas idealne auto na każdą okazję.</p>
    <p style="font-size: 48px;">Wróć na <a href="/">stronę</a> główną</p>
{% endblock %}